# Review Preprocessing Pipeline

prior to adding the preprocessor to mlflow tracking server with code
want to see how the data looks to make sure the transform worked

# Import Required Libraries

In [7]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import os

In [2]:
pd.set_option('display.max_columns',None)

In [4]:
from dotenv import load_dotenv

In [5]:
load_dotenv()

True

In [8]:
DATA_DIR = Path(os.getenv('DATA_DIR','/app/data'))

In [9]:
DATA_DIR

PosixPath('/home/ExraDrive/house_prices/data')

# Load Data

In [11]:
clean_df = pd.read_pickle(DATA_DIR/'house_price_processed.pkl')

In [12]:
clean_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,Gd,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,Gd,MnPrv,Shed,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,NaN,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,NaN,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [15]:
train_data=pd.read_pickle(DATA_DIR/'train_data.pkl')

In [16]:
train_data.head()

,OverallQual,OverallCond,age_at_sale,age_of_house_squared,house_have_remodel,GrLivArea,TotalBsmtSF,total_sf,ratio_finished_bsmt,basement_ratio,total_full_baths,total_half_baths,BedroomAbvGr,bedrooms_per_1ksf,bed_bath_ratio,has_garage,garage_finished
254,5,6,53,2809,0,1314,1314,2628,0.701141,0.499810,2,0,3,0.826902,1.5,1,1
1066,6,7,16,256,1,1571,799,2370,0.000000,0.336989,2,1,3,0.890208,1.5,1,1
638,5,7,98,9604,1,796,796,1592,0.000000,0.499686,1,0,2,0.771605,2.0,0,0
799,5,7,70,4900,1,1768,731,2499,0.777322,0.292400,2,1,3,0.857388,1.5,1,0
380,5,6,86,7396,1,1691,1026,2717,0.212269,0.377483,2,0,3,0.807103,1.5,1,0

In [17]:
train_y = pd.read_pickle(DATA_DIR/'train_y_data.pkl')

In [18]:
train_y

254     145000
1066    178000
638      85000
799     175000
380     127000
         ...
1095    176432
1130    135000
1294    115000
860     189950
1126    174000
Name: SalePrice, Length: 1168, dtype: int64

In [19]:
test_x = pd.read_pickle(DATA_DIR/'test_data.pkl')

In [20]:
test_x.head()

,OverallQual,OverallCond,age_at_sale,age_of_house_squared,house_have_remodel,GrLivArea,TotalBsmtSF,total_sf,ratio_finished_bsmt,basement_ratio,total_full_baths,total_half_baths,BedroomAbvGr,bedrooms_per_1ksf,bed_bath_ratio,has_garage,garage_finished
892,6,8,43,1849,1,1068,1059,2127,0.625472,0.497650,1,1,3,0.959386,3.000000,1,1
1105,8,5,16,256,1,2622,1463,4085,0.704918,0.358052,3,1,3,0.589971,1.000000,1,1
413,5,6,83,6889,1,1028,1008,2036,0.000000,0.494845,1,0,2,0.658762,2.000000,1,0
522,6,7,59,3481,1,1664,1004,2668,0.397015,0.376171,2,0,3,0.817884,1.500000,1,0
1036,9,5,2,4,1,1620,1620,3240,0.630475,0.499846,3,0,2,0.471698,0.666667,1,1